<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-item">
            <div class="sidebar-button-container">
                <button class="sidebar-button" onclick="toggleSubMenu('submenulec1')">LEC</button>
                <span class="info-icon">
                    <div class="tooltip">League of Legends European Championship</div>
                </span>
            </div>
            <div id="submenulec1" class="sidebar-submenu">
                <button class="sidebar-button" onclick="toggleSubMenu('submenulec2')">Week 1</button>
                <div id="submenulec2" class="sidebar-submenu">
                    <button class="sidebar-button" onclick="toggleSubMenu('submenulec3')">Day 1</button>
                    <div id="submenulec3" class="sidebar-submenu">
                        <button onclick="changeVideo('https://www.youtube.com/embed/52yCZN1aGZE')">TH vs GX</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/kE5sbtUJpEE')">SK vs RGE</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/7untu0jxqu4')">VIT vs BDS</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/JWjD-mT9wQU')">MDK vs G2</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/tHgxvN1_ro8')">KC vs FNC</button>
                    </div>
                    <button class="sidebar-button" onclick="toggleSubMenu('submenulec4')">Day 2</button>
                    <div id="submenulec4" class="sidebar-submenu">
                        <button onclick="changeVideo('https://www.youtube.com/embed/wqXJdQiffIw')">BDS vs TH</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/X-bQ4r3-K28')">RGE vs VIT</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/0dMRkC8dN64')">KC vs MDK</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/2FUHy6eiKZA')">FNC vs GX</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/T-9d6JgAZ64')">G2 vs SK</button>
                    </div> 
                    <button class="sidebar-button" onclick="toggleSubMenu('submenulec5')">Day 3</button>
                    <div id="submenulec5" class="sidebar-submenu">
                        <button onclick="changeVideo('https://www.youtube.com/embed/8pB9_L15MRg')">FNC vs VIT</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/nWpHO0vAGmU')">GX vs SK</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/B9ok7-NkmmU')">BDS vs G2</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/pEnoX3NcdsQ')">RGE vs KC</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/VD8NGKbgE8U')">TH vs MDK</button>
                    </div>                     
                </div>
                <button class="sidebar-button" onclick="toggleSubMenu('submenulec6')">Week 2</button>
                <div id="submenulec6" class="sidebar-submenu">
                    <button class="sidebar-button" onclick="toggleSubMenu('submenulec7')">Day 1</button>
                    <div id="submenulec7" class="sidebar-submenu">
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                    </div>
                    <button class="sidebar-button" onclick="toggleSubMenu('submenulec8')">Day 2</button>
                    <div id="submenulec8" class="sidebar-submenu">
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                    </div>                     
                </div>
                <button class="sidebar-button" onclick="toggleSubMenu('submenulec9')">Week 3</button>
                <div id="submenulec9" class="sidebar-submenu">
                    <button class="sidebar-button" onclick="toggleSubMenu('submenulec10')">Day 1</button>
                    <div id="submenulec10" class="sidebar-submenu">
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                    </div>
                    <button class="sidebar-button" onclick="toggleSubMenu('submenulec11')">Day 2</button>
                    <div id="submenulec11" class="sidebar-submenu">
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                    </div>                     
                </div>
                <button class="sidebar-button" onclick="toggleSubMenu('submenulec12')">Week 4</button>
                <div id="submenulec12" class="sidebar-submenu">
                    <button class="sidebar-button" onclick="toggleSubMenu('submenulec13')">Day 1</button>
                    <div id="submenulec13" class="sidebar-submenu">
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                    </div>
                    <button class="sidebar-button" onclick="toggleSubMenu('submenulec14')">Day 2</button>
                    <div id="submenulec14" class="sidebar-submenu">
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                        <button onclick="changeVideo('https://www.youtube.com/embed/dQw4w9WgXcQ')">TBD vs TBD</button>
                    </div>                     
                </div>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="sidebar-button-container">
                <button class="sidebar-button" onclick="toggleSubMenu('submenulec1')">LCK</button>
                <span class="info-icon">
                    <div class="tooltip">League of Legends Korean Championship</div>
                </span>
            </div>
            <div id="submenulck1" class="sidebar-submenu">
                <button onclick="changeVideo('https://www.youtube.com/embed/VIDEO_ID_4')">Video 4</button>
                <button onclick="changeVideo('https://www.youtube.com/embed/VIDEO_ID_5')">Video 5</button>
                <button onclick="changeVideo('https://www.youtube.com/embed/VIDEO_ID_6')">Video 6</button>
            </div>
        </div>
    </div>
    <main class="main-content">
        <iframe id="video-frame" src="https://www.youtube.com/embed/VIDEO_ID_DEFAULT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </main>
    <script>
        function toggleSubMenu(id) {
            var submenu = document.getElementById(id);
            if (submenu.style.display === "block") {
                submenu.style.display = "none";
            } else {
                submenu.style.display = "block";
            }
        }

        function changeVideo(url) {
            var videoFrame = document.getElementById("video-frame");
            videoFrame.src = url;
        }
    </script>
</body>
</html>
