<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/live">Live</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h1>League of Legends</h1>
            <div class="video-cards">
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/60d16kFtuHU" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yQb6DpFcS68" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/R6SfMMcGvr0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FcKA9M-shfM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <h1>Counter Strike 2</h1>
            <div class="video-cards">
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pAt56KDbPRs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7BJ7Jbs6ihM" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7Xli162UUII" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Iqwv6mjSMf8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <h1>Valorant</h1>
            <div class="video-cards">
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nyjtE1Fgk2A" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Evv0yT--9Ho" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pNDvRbAjqHg" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rZcCAo3vNws" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <h1>Apex Legends</h1>
            <div class="video-cards">
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/x9iUX5YFA7E" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0eb-adsU4hQ" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0EkPzcsYkcU" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/cAX4anywumI" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="social-media">
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
            </div>
            <div class="contact-info">
                <p>Contact us at: info@esportswebsite.com</p>
            </div>
        </div>
    </footer>
</body>
</html>
